@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  /* font family */
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */
  --color-old-green: #12300B;

  /* breakpoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
}

@layer base {

  body {
    @apply bg-[#F3F4F6] font-manrope text-black min-h-screen
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-[50px] xl:text-[60px] 2xl:text-[70px] 3xl:text-[96px] leading-[1.2] text-old-green mt-5 lg:mt-8 2xl:mt-12 mb-4 2xl:mb-7.5
  }

  h1 span {
    @apply font-bold
  }

  span {
    @apply inline-block;
  }

  img {
    @apply max-w-full
  }

  input:focus {
    @apply !shadow-none !outline-0;
  }

  button,
  a {
    @apply transition-all duration-300 cursor-pointer max-h-none inline-block;
  }
}

@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1340px] 3xl:max-w-[1520px] mx-auto px-5;
  }

  .link-a {
    @apply py-1
  }

  .link-a:hover,
  .link-a.active {
    @apply text-old-green
  }

  .link-a::after {
    @apply content-[''] absolute w-0 h-0.5 bg-old-green left-0 right-0 mx-auto bottom-0 z-10 transition-all duration-300
  }

  .link-a:hover::after,
  .link-a.active::after {
    @apply w-full transition-all duration-300
  }




  .text-slider .swiper-pagination {
    @apply !bottom-4
  }

  .text-slider .swiper-pagination .swiper-pagination-bullet {
    @apply !w-12 !h-1 !bg-[#FFFFFF40] !rounded-xs !mx-4
  }

  .text-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-white
  }

  .teamSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-black
  }

  .finance__card {
    @apply transition-transform scale-100 duration-300
  }

  .finance__card:hover {
    @apply scale-[1.03] transition-all duration-300 shadow-2xl
  }
  



}

@layer utilities {
  /* Smooth floating animation */
  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .float-animation {
    animation: floatUpDown 3s ease-in-out infinite;
  }


  /* card animations */
  @keyframes cardUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .card-animation {
    animation: cardUpDown 3s ease-in-out infinite;
  }

  .card-animation-delay-1 {
    animation: cardUpDown 3s ease-in-out infinite;
    animation-delay: 1s;
  }
  
  .card-animation-delay-2 {
    animation: cardUpDown 3s ease-in-out infinite;
    animation-delay: 2s;
  }
}
